<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='saitoico.png') }}">
    <title>404エラー</title>
</head>
<body>
    <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='saitoico.png') }}" class="ロゴ">
    </a>
    <h1>404エラー</h1>
    <p>そのようなページは存在しません。</p>
    <p>URLを確認してもう一度お試しください。</p>

    <a href="{{ url_for('index') }}">戻る</a>

</body>
</html>