<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='saitoico.png') }}">
    <title>ユーザー追加</title>
</head>
<body>
    <a href="{{ url_for('index') }}" class="saito">
      <img src="{{ url_for('static', filename='saitoico.png') }}" alt="ロゴ" class="ロゴ">
      <h1>自学サイト</h1>
    </a>
    <h2>新しいユーザーを追加</h2>
    <form method="POST">
        <label for="username">ユーザー名：</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">パスワード：</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">追加</button>
    </form>
    <a href="{{ url_for('admin') }}">← 管理ページへ戻る</a>
</body>
</html>
