<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>管理画面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='saitoico.png') }}">
</head>
<body>
    <a href="{{ url_for('index') }}" class="saito">
      <img src="{{ url_for('static', filename='saitoico.png') }}" alt="ロゴ" class="ロゴ">
      <h1>自学サイト</h1>
    </a>
    <h1>管理画面</h1>
    <p><a href="{{ url_for('create') }}">＋ 記事追加</a></p>
    <h2>記事一覧</h2>
    <ul>
        {% for article in articles %}
        <li>
            {{ article.filename }} -
            <a href="{{ url_for('edit', filename=article.filename) }}">編集</a> -
            <a href="{{ url_for('delete', filename=article.filename) }}">削除</a>
        </li>
        {% else %}
        <li>記事はありません</li>
        {% endfor %}
    </ul>

    <h2>ファイルアップロード</h2>
    <form method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="アップロード">
    </form>

    <h2>アップロード済みファイル</h2>
    <ul>
        {% for filename in uploaded_files %}
        <li><a href="{{ url_for('download_file', filename=filename) }}">{{ filename }}</a></li>
        {% else %}
        <li>アップロードされたファイルはありません</li>
        {% endfor %}
    </ul>

    <p><a href="{{ url_for('admin_settings') }}">アカウント設定</a><br>
    <a href="{{ url_for('admin_add_user') }}">ユーザー追加</a><br>
    <a href="{{ url_for('logout') }}">ログアウト</a></p>
</body>
</html>