<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>記事作成</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='saitoico.png') }}">
</head>
<body>
    <a href="{{ url_for('index') }}" class="saito">
      <img src="{{ url_for('static', filename='saitoico.png') }}" alt="ロゴ" class="ロゴ">
      <h1>自学サイト</h1>
    </a>
    <h1>記事作成ページ</h1>
    <form method="POST">
      <label for="title">タイトル：</label><br>
      <input type="text" id="title" name="title" required><br><br>
  
      <label for="filename">ファイル名(.htmlなし)：</label><br>
      <input type="text" id="filename" name="filename" required><br><br>
  
      <label for="body">本文：</label><br>
      <textarea id="body" name="body" rows="10" cols="50" required></textarea><br><br>
  
      <button type="submit">保存</button>
  </form>  
    <a href="{{ url_for('admin') }}">← 管理ページへ戻る</a>
</body>
</html>
