<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>漢字検索</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='saitoico.png') }}">
</head>
<body>
    <a href="{{ url_for('index') }}" class="saito">
      <img src="{{ url_for('static', filename='saitoico.png') }}" alt="ロゴ" class="ロゴ">
      <h1>自学サイト</h1>
    </a>

    
    <div class="container">
        <h1>漢字検索</h1>
        <form method="POST">
            <label for="kanji">漢字を1文字入力：</label>
            <input type="text" id="kanji" name="kanji" maxlength="1" required>
            <button type="submit">検索</button>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
    <p><a href="{{ url_for('index') }}">← トップへ戻る</a></p>
</body>
</html>
