<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>サーバーログ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='saitoico.png') }}">
</head>
<body>
    <a href="{{ url_for('index') }}" class="saito">
      <img src="{{ url_for('static', filename='saitoico.png') }}" alt="ロゴ" class="ロゴ">
      <h1>自学サイト</h1>
    </a>

    
    <h1>サーバーログ一覧</h1>
    {% if logs %}
        <ul>
        {% for log in logs %}
            <li>[{{ log.timestamp }}] {{ log.ip }} - {{ log.method }} {{ log.path }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>ログはまだありません。</p>
    {% endif %}
    <p><a href="{{ url_for('index') }}">← トップへ戻る</a></p>
</body>
</html>
